<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Employee</title>
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
        crossorigin="anonymous"
    />
  </head>
  <body>
    {% include 'emp_mng/navbar.html' %}

    <h1 class="text-center my-3">Update Employee</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/emp_mng/do_update_emp_mng/{{emp_mng.id}}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name">Employee name</label>
                                <input 
                                    name="emp_name"
                                    id="name" 
                                    type="text" 
                                    class="form-control"
                                    placeholder="Enter emp name"
                                    value="{{emp_mng.name}}"
                                 />
                            </div>

                            <div class="mb-3">
                                <label for="Id">Emp Id</label>
                                <input 
                                    id="Id" 
                                    type="text" 
                                    class="form-control"
                                    placeholder="Enter employee Id"
                                    name="emp_id"
                                    value="{{emp_mng.emp_id}}"
                                />
                            </div>

                            <div class="mb-3">
                                <label for="phone">Employee phone_number</label>
                                <input 
                                    id="emp_phone"  
                                    value="{{emp_mng.phone}}" 
                                    name="emp_phone" 
                                    type="text" 
                                    class="form-control"
                                    placeholder="Enter emp mo_num"
                                />
                            </div>

                            <div class="mb-3">
                                <label for="address">Employee address</label>
                                <textarea 
                                    name="emp_address" 
                                    id="address" 
                                    rows="5" 
                                    class="form-control"
                                > {{emp_mng.address}}</textarea>
                            </div>

                            <div class="mb-3 form-check">
                                <label for="Working">Employee woking</label>
                                <input 
                                    id="working"  
                                    {% if emp_mng.working %} checked {% endif %}
                                    name="emp_working" 
                                    type="checkbox" 
                                    class="form-check-input"
                                />
                            </div>

                            <div class="mb-3">
                                <label for="Department">Department of Employee</label>
                                <select name="emp_department"  value="{{emp_mng.department}}" id="department" class="form-control">
                                   
                                    <option value="CSE">Computer science</option>
                                    <option value="ME">Mechanical Engineering</option>
                                    <option value="EE">Electricel Engineering</option>
    
                                </select>
                            
                            </div>

                            <div class="container text-center">
                                <button class="btn btn-success">
                                    Update Employee
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>