<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
        <div class="containr" style="text-align: center">
          {% include 'navbar.html' %}       
          <h1>Wlecome to our website</1h>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate rem
            magnam ipsa eligendi? Maxime doloribus at eos dolorum, nisi placeat veniam 
            laborum ut numquam molestiae neque aspernatur perferendis quisquam voluptatibus
            consequuntur ex a! Eum officia vero beatae rem similique cum numquam voluptatum 
            error corrupti? Quibusdam nobis nisi voluptate facere totam?
          </p>
          <button>Contact US</button>
          <!-- accessing dynamicvalues -->


          <h1>todays date is {{date}} </h1>
          <h1>name is {{name}}</h1>
          <h1>Student deta is {{student_data}}</h1>
        </div>
</body>
</html>